@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

body {
  @apply text-gray-100 dark:text-white;
  background: linear-gradient(120deg, #000000, #353542, #282830);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite, wind 10s linear infinite;
  transition: background 0.5s;
}

@keyframes gradient {
  0% {background-position: 100% 0%;}
  25% {background-position: 50% 50%;}
  50% {background-position: 0% 100%;}
  75% {background-position: 50% 50%;}
  100% {background-position: 100% 0%;}
}

.main-container {
  @apply flex flex-col min-h-screen items-center justify-center p-6 transition-all duration-500 ease-in-out transform hover:scale-105 shadow-2xl;
}

.title {
  @apply text-4xl font-bold mb-8 text-center text-white transition-all duration-500 ease-in-out transform hover:scale-105;
}

.subtitle {
  @apply text-2xl mb-8 text-center text-white transition-all duration-500 ease-in-out transform hover:scale-105;
}

.sensor-data,
.display-control {
  @apply p-4 m-2 w-full max-w-sm rounded bg-gray-900 shadow-lg dark:bg-gray-700 transition-all duration-500 ease-in-out transform hover:scale-105 hover:shadow-2xl;
}

.display-control input,
.display-control button {
  @apply mt-2 p-2 w-full rounded transition-all duration-500 ease-in-out transform hover:scale-105;
}

.display-control button {
  @apply bg-blue-500 text-white transition-all duration-500 ease-in-out transform hover:scale-105;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    animationTimingFunction: ease-in;
  }
  50% {
    transform: translateY(-20px);
    animationTimingFunction: ease-out;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
